@model Homework_20.Models.Profile

<h1>Редактирование профиля</h1>
<div class="row justify-content-md-center">
    <div class="col-md-3">
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <img class="card-img-top img-fluid d-block mx-auto" id="preview" src="@WebConstants.ImagePath@Model.Image" alt="Изображение" />
        }
        else
        {
            <img class="card-img-top img-fluid d-block mx-auto" id="preview" src="@(WebConstants.ImagePath)base.png" alt="Изображение" />
        }

        <form method="post" asp-action="UpdateImage" enctype="multipart/form-data">
            <div class="row">
                <div class="col">

                    <label for="updateImage" class="btn btn-success">Изменить</label>
                    <input type="file" onchange="this.form.submit()" id="updateImage" name="files"
                           style="
                                    opacity: 0;
                                    z-index: -1;
                                    overflow: hidden;
                                    position: absolute;
                                    width: 0.1px;
                                    height: 0.1px;" />


                </div>
                <div class="col-auto">
                    <a asp-action="RemoveImage" class="btn btn-outline-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </form>




    </div>

    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">

            <input asp-for="Id" hidden />
            <input asp-for="Image" hidden />

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MiddleName"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="Image"></label>
            <input asp-for="Image" disabled class="form-control" />
            <input type="file" name="files" class="form-control-file" id="uploadBox" onchange="previewImage();">
        </div>*@

            <div class="form-group">
                <label asp-for="About"></label>
                <textarea asp-for="About" class="form-control summernote"></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>

            <div class="form-group row">

                <div class="col">
                    <input type="submit" onclick="return validateInput()" class="btn btn-info w-100" value="Изменить" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-success w-100"> <i class="fas fa-sign-out-alt"></i>Назад</a>
                </div>

            </div>

        </form>
    </div>
</div>


@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>

        //function readURL(input) {
        //    if (input.files && input.files[0]) {
        //        var reader = new FileReader();

        //        reader.onload = function (e) {
        //            $('#preview').attr('src', e.target.result);
        //        }

        //        reader.readAsDataURL(input.files[0]);
        //    }
        //}

        //$("#uploadBox").change(function () {
        //    readURL(this);
        //});

        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250
            });
        });

        //function validateInput() {
        //    if (document.getElementById("uploadBox").value == "") {
        //        Swal.fire(
        //            'Ошибка!',
        //            'Пожалуйста загрузите изображение!',
        //            'error'
        //        )
        //        return false;
        //    }
        //    return true;
        //}
    </script>

}