<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnection" 
         connectionString="Data source=(LocalDB)\MSSQLLocalDB;Initial Catalog=BankDB;Integrated Security=True;AttachDBFilename=|DataDirectory|\DataBase\BankDB.mdf;"
         providerName="System.Data.SqlClient"/>
    <add name="DBConnectionAbsolutePath" 
         connectionString="Data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\agish\Desktop\Repos\Skillbox_Homework\Homework_18\bin\Debug\netcoreapp3.1\DataBase\BankDB.mdf;Initial Catalog=BankDB;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
    <add name="DBConnectionServer"
         connectionString="Data Source=Envy;Initial Catalog=BankDB;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>