@{
    ViewData["Title"] = "Главная";
}

<div>
    <h1>Моё портфолио</h1>
    Данный сайт представляет из себя портфолио.
    Содержит:
    Страницу с небольой информацией о себе, возможно фото.
    Страницу с формной для обратной связи.
    Возможно скрытую страницу для администрирования.
    Возможно страницу с сылками на проекты.
</div>
